@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$navbar_color: #191B1F;
$bg_color: #1F2128;
$black : #000000;
$btn_color: #2C2F36;
$text_color: rgb(195, 197, 203);
